{% extends "base.html" %}

{% block about %}
<div class="header1">
    <h1 id="cont">ABOUT US</h1>
</div>

<div class="team">
    <div class="frame">
        <div class="imgp1">
                <img src="static/images/Ola.png" alt="Taiwo" class="imab">
        </div>
        <div class="intro">
            <h1 class="intname">Oladamola Taiwo</h1>
            <p class="intdesc">FrontEnd Developer</p>
        </div>
    </div>
    
    <div class="frame">
        <div class="imgp1">
            <img src="static/images/Grace.png" alt="Grace" class="imab">
        </div>
        <div class="intro">
            <h1 class="intname">Grace Osimen</h1>
            <p class="intdesc">DataBase Manager</p>
        </div> 
    </div>

   
    <div class="frame">    
        <div class="imgp1">
            <img src="static/images/Dayo.png" alt="Temidayo" class="imab">
        </div>
    
        <div class="intro">
            <h1>Temidayo Alabi</h1>
            <p>BackEnd Developer</p>
        </div>
    </div>



</div>

<div class="headerx">
    <h1 id="cont2">The story of Ecomart is the story of three visionary ALX software engineering 
        learners. With a passion for solving everyday problems using code, and a great sense of 
        responsibility for the environment. They naturally clicked on an e-commerce solution for 
        environmentally friendly products. They believe in doing the little they can for the greater
        good. Ecomart was birthed as a result in the middle of 2024. <br>
        They jointly look forward to a greener and cleaner Africa. This they have termed their 'African'
        version of the American dream. You can catch them in your city soon talking about the power of 
        'green' solutions.
    </h1>
</div>
{% endblock %}