{% extends "base.html" %}

{% block contact %}
<div class="header1">
    <h1 id="cont">CONTACT US</h1>
</div>

<div class="logo">
    <img src="static/images/Contact Us.png" width="990" height="300px" id="logo" alt="logo">
</div>

<div class="contgen">
<div class="contus">
    <div class="contwrap">
        <h1>Customer Support</h1>
        <p>+234 813 225 7126</p>
        <p>+234 806 265 9610</p>
    </div>
    
    <div class="contwrap">
        <h1>E-mail</h1>
        <p>tech@ecomart.com.ng</p>
    </div>

    <div class="contwrap">
        <h1>Office Address</h1>
        <p>Viewpoint Plaza, Ajah, Lagos</p>
    </div> 
</div>

<div class="contusfrm">
    <form action="" id="form3" method="post">
        <div class="lbitem3">
            <h1 style="padding-right: 33px; padding-bottom: 3px; color: white;">Message Us!</h1>            
            <textarea name="contact" id="contact" placeholder="Enter Message"
            style="padding-bottom: 13px;"></textarea>
        
            <button type="submit" style="margin-right: 33px; margin-bottom: 12px; background-color: rgb(255, 255, 255); color: #009a5a;" >submit</button>
        </div>
    </form>
</div>

<div>
    
</div>

</div>
{% endblock %}