{% extends "base.html" %}

{% block title %}EcoMart{% endblock %}

{% block content %}<img src="static/images/HOMEPAGE.png" width="1000" height="300px" id="hero"
 alt="HOMEPAGE"> <br>

<div class="products">
    <h1 id="prod">PRODUCTS</h1>
</div>

<div class="product">
    <a href="https://www.ballo.co.za/products/rattle-bio-acetate-tortoise-polarized?variant=42270153867315">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/RAT-TORT1_400x.png" width="200" height="200" alt="RAT-TORT1">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    RAT-TORT1_400x<br>
                </p>
            </div>
            <div class="price">
                <p>$195</p>
            </div>
        </div>
    </div>
    </a>
    
    <a href="https://www.ballo.co.za/products/flo-nkosi?variant=41517376569395">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/Flo-nko-bro_1_800x.png" width="200" height="200" alt="Flo-nko-bro">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    Flo-Nko-Bro_1_800x<br>
                </p>
            </div>
            <div class="price">
                <p>$175</p>
            </div>
        </div>
    </div>
    </a>
    
    <a href="https://www.ballo.co.za/products/owl-cork-blue-revo-mirror?variant=41288662482995">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/owl-crk-mirblu1_400x.png" width="200" height="200" alt="owl-crk-mirblu1">
        </div>
     
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    Owl-Crk-Mirblu1_400x
                </p>
            </div>
            <div class="price">
                <p>$143</p>
            </div>
        </div>
    </div>
</div>
</a>

<div class="product2">
    <a href="https://kingpack.co.za/product/large-300mm-x-300mm-white-pizza-box/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/White-Pizza-Box.png" width="200" height="200" alt="RAT-TORT1">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    300mm White-Pizza-Box<br>
                </p>
            </div>
            <div class="price">
                <p>R354.20</p>
            </div>
        </div>
        
    </div>
    </a>
    
    <a href="https://kingpack.co.za/product/350ml-rustic-kraft-ice-cream-tub/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/350ml-Rustic-Kraft-Ice-Cream.png" width="200" height="200" alt="Flo-nko-bro">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    350ml-Rustic-Kraft-Ice-Cream<br>
                </p>
            </div>
            <div class="price">
                <p>R102.93</p>
            </div>
        </div>
    </div>
    </a>
    
    <a href="https://kingpack.co.za/product/1300ml-foil-container-pet-lid/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/1300ml-Foil-Container.png" width="200" height="200" alt="owl-crk-mirblu1">
        </div>
     
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc">
                    1300ml-Foil-Container(250)<br>
                </p>
            </div>
            <div class="price">
                <p>$1,926.25</p>
            </div>
        </div>
    </div>
    </a>
</div>

<div class="product3">
    <a href="https://kingpack.co.za/product/large-octagon-300x300mm-kraft-pizza-box/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/300x300mm-Kraft-Pizza-Box.png" width="200" height="200" alt="RAT-TORT1">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    300mm-Kraft-Pizza-Box(50)<br>
                </p>
            </div>

            <div class="price">
                <p>R335.80</p>
            </div>
        </div>      
    </div>
    </a>    
    
    <a href="https://kingpack.co.za/product/465ml-foil-container-with-board-lid-combo/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/465ml-Foil-Container-.png" width="200" height="200" alt="Flo-nko-bro">
        </div>
        
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc" >
                    465ml-Foil-Container(250)<br>
                </p>
            </div>
            <div class="price">
                <p>R575.00</p>
            </div>
        </div>
    </div>
    </a>
    
    <a href="https://kingpack.co.za/product/500ml-rustic-kraft-ice-cream-tub/">
    <div class="p1">
        <div class="imgp2">
            <img src="static/images/500ml-Rustic-Kraft-Ice-Cream-.png" width="200" height="200" alt="owl-crk-mirblu1">
        </div>
     
        <div class="clickable">
            <div class="desc">
                <p class="txtdesc">
                    500ml-Rustic-Kraft-Ice-Cream<br>
                </p>
            </div>
            <div class="price">
                <p>R110.98</p>
            </div>
        </div>
    </div>
    </a>
</div>
 {% endblock %}






 

 
