{% extends "base.html" %}

{% block title %}EcoMart{% endblock %}

{% block content %}<img src="static/images/HOMEPAGE.png" width="1000" height="300px" id="hero"
 alt="HOMEPAGE">
 
 <div class="products">
    <h1 id="prod">PRODUCTS</h1>
</div>

<div class="product">
    <div class="p1">
        <div class="imga">
            <img src="" alt="">
        </div>
        <div class="desc">
            <p></p>
        </div>
        <div class="price">
            <p></p>
        </div>
    </div>
    
    <div class="p1">
        <div class="imga">
            <img src="" alt="">
        </div>
        <div class="desc">
            <p></p>
        </div>
        <div class="price">
            <p></p>
        </div>
    </div>
    
    <div class="p1">
        <div class="imga">
            <img src="" alt="">
        </div>
        <div class="desc">
            <p></p>
        </div>
        <div class="price">
            <p></p>
        </div>
    </div>
</div>

 {% endblock %}

